PORT=7001
TEST='FALSE'
APP_URL="http://localhost:7001"
APP_ENV="development"
APP_NAME="StartInboxHub"
CLIENT_SIDE_URL="http://localhost:3000"


URL_SECRET="iowfiofiowfjow[poe9043i092i02i0-fmiowkoi2k902i892okio23k9"

DB_USERNAME='username'
DB_PASSWORD='password'
DB_PORT=5432
DB_NAME='test'
DB_HOST='127.0.0.1'
DB_SCHEMA='chat'
DB_URL_ASYNC='postgresql+asyncpg://username:password@localhost/test'
DB_URL_SYNC='postgresql://username:password@localhost/test'
DB_URL_TEST='sqlite+aiosqlite:///:memory:'

SECRETS='somesecretsomesecretsomesecretsomesecretsomesecretsomesecret'
JWT_SECRETS='somesecretsomesecretsomesecretsomesecretsomesecret'
JWT_ACCESS_TOKEN_EXPIRY=60
JWT_REFRESH_TOKEN_EXPIRY=90
JWT_ALGORITHM='HS256'
JWT_ISSUER="startinbox.com"
JWT_AUDIENCE="1234567890.startinbox.com"

REDIS_URL="redis://127.0.0.1:6379/0"

MAIL_USERNAME=''
MAIL_PASSWORD=''
MAIL_PORT=465
MAIL_SERVER="smtp.gmail.com"

GOOGLE_CLIENT_ID="your_client_id"
GOOGLE_AUDIENCE="your_client_id.apps.googleusercontent.com"
GOOGLE_GEMINI_API_KEY="some key"
GOOGLE_GEMINI_MODEL="gemini-2.0-flash"

MAILGUN_API_KEY="somekey"
DOMAIN_NAME="some domain name"
MAILGUN_BASE_URL="https://api.mailgun.net/v3"
DOMAIN_EMAIL="StartInbox <noreply@startinbox.com>"

TWILIO_ACCOUNT_SID="some sid"
TWILIO_AUTH_TOKEN="some token"
TWILIO_WHATSAPP_NUMBER="some whatsapp number"

META_WHATSAPP_TOKEN="some tokenz"
META_PHONE_NUMBER_ID="some number"
META_APP_ID="some id"
META_GRAPH_URL="https://graph.facebook.com/v18.0"

FLW_SECRET_KEY="some key"
FLW_PAYMENT_URL="https://api.flutterwave.com/v3/payments"
FLW_CLIENT_REDIRECT_URL="http://localhost:3000/pricing"
FLW_SECRET_HASH="some hash"
FLW_PUBLIC_KEY="some key"
FLW_ENCRYPTION_KEY="some key"

STRIPE_API_SECRET_KEY="some key"

FRONTEND_STRIPE_SUCCESS_URL="http://localhost:3000/checkout?success=true"
FRONTEND_STRIPE_CANCEL_URL="http://localhost:3000/checkout?canceled=true"
STRIPE_WEBHOOK_SECRET="some secret"

SEND_GRID_API_KEY="some key"
SEND_GRID_FROM_MAIL="someemail@email.com"
SEND_GRID_MAIL_BASE_URL="https://api.sendgrid.com/v3/mail/send"

PAYSTACK_SECRET_KEY="some key"
PAYSTACK_BASE_URL="https://api.paystack.co/transaction"

MAILCHIMP_API_KEY="some key"
MAILCHIMP_AUDIENCE_ID="some id"
MAILCHIMP_BASE_URL="https://us43.api.mailchimp.com/3.0/lists"


RESEND_MAIL_API_KEY="some key"
RESEND_MAIL_DEFAULT_EMAIL="someemail@email.com"
RESEND_MAIL_INFO_EMAIL="seome@email.tech"

PM_CALENDLY_LINK="some link"


META_PIXEL_ACCESS_TOKEN=""
META_PIXEL_URL="https://graph.facebook.com/v18.0/somemetapixelid/events"
META_PIXEL_ID="somemetapixelid"

ADMIN_EMAIL="admin@startinbox.com"
SUPPORT_EMAIL="support@startinbox.com"
CONTACT_EMAIL="contact@startinbox.com"

IPINFO_API_KEY="some key"
